@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(218, 23%, 16%)
}

section{
    width: 30%;
    height: 30%;
    min-width: 350px;
    min-height: 300px;
    border-radius: 20px;
    background-color: hsl(217, 19%, 24%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center
}

section h1{
    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 4px;
}

section p{
    color: hsl(193, 38%, 86%);
    font-size: 1.5em;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    height: 40%;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 85%;
}

div::before{
    content: '';
    display: block;
    width: 50%;
    height: 1px;
    background-color: hsl(217, 19%, 38%);
}

div::after{
    content: '';
    display: block;
    width: 50%;
    height: 1px;
    background-color: hsl(217, 19%, 38%);
}

.fa-dice-five{
    background-color: hsl(150, 100%, 66%);
    font-size: 2em;
    padding: 15px;
    border-radius: 50%;
    position: relative;
    top: -35px;
    color: hsl(218, 23%, 16%);
}